streamlit==1.46.1

langchain-community==0.3.25
langchain-text-splitters==0.3.8

langchain-chroma==0.2.4
chromadb==1.0.12

langchain-huggingface==0.3.0
sentence-transformers==4.1.0

langchain-mistralai==0.2.8

pypdf==5.6.0
python-dotenv==1.1.0